In [2]:
import os 
import pandas as pd
import dataPrep as dP
import seaborn as sns 
import matplotlib.pyplot as plt

In [14]:
#Get relevant data and split into dataframes
df = dP.getData()
df.info()
print("\n")
ratings = pd.DataFrame(df.groupby('title')['rating'].mean())
ratings['Number_of_Ratings'] = df.groupby('title')['rating'].count()
ratings['Index'] = list(range(0,len(ratings)))
ratings = ratings.reset_index()
ratings = ratings.set_index('Index')
ratings.info()
print("\n")
ratings.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20000263 entries, 0 to 20000262
Data columns (total 6 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  object
 4   title      object
 5   genres     object
dtypes: float64(1), int64(2), object(3)
memory usage: 1.0+ GB


<class 'pandas.core.frame.DataFrame'>
Int64Index: 26729 entries, 0 to 26728
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              26729 non-null  object
 1   rating             26729 non-null  float64
 2   Number_of_Ratings  26729 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 835.3+ KB

             rating  Number_of_Ratings
count  26729.000000       26729.000000
mean       3.133277         748.260803
std        0.664123        3086.673456
min        0.500000           1.000000
25%        2.800000           3.000000
50%        3.235529          18.000000
75%        3.565217         205.000000
max        5.000000       67310.000000

In [17]:
#Consider a simple recommender based on a movie matrix 
#movieMatrix = df.pivot_table(index = 'userId',columns = 'title',values = 'rating')
#movieMatrix = df.groupby(['userId','title'])['rating'].max().unstack()
movieMatrix = df.groupby('userId')['title'].apply(list).to_dict()
len(movieMatrix)

138493